[user]
    name = Francesc Arpi Roca
    email = francesc.arpi@gmail.com

[alias]
    st = status

[push]
    autoSetupRemote = true

[core]
    pager = delta
    hooksPath = ~/.git_hooks

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    dark = true
    side-by-side = false
    line-numbers = true
    true-color = always
    diff-so-fancy = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
