vifminfo
*.pyc
__pycache__
packer_compiled.lua
.idea
zshrc.zwc
.luarc.json
shell/zsh/config/plugins.zsh
lazy-lock.json
.tmp*
embeddings
logseq/.logseq/config/
logseq/.logseq/git/
logseq/.logseq/graphs/
